[Desktop Entry]
Name=GitBee
Comment=A GUI client for Git
Exec=GitBee
Icon=gitbee
Terminal=false
Type=Application
Categories=Development;Utility;Git;
StartupNotify=true
